<div class="container py-2 pb-md-0 py-lg-0" xmlns:th="https://www.thymeleaf.org">
    <ul class="anatomy tabs nav nav-tabs">
        <li class="tabs-title nav-item" th:each="name : ${page.allContextNames}">
            <a class="nav-link"
               th:href="@{/anatomy/{name}(name=${name})}"
               th:classappend="${page.contextName == name} ? 'active' : ''">
                <i class="bi bi-pc-display-horizontal me-1"></i>
                <span th:text="${name}">Context Name</span>
            </a>
        </li>
    </ul>
</div>
